<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <style>
    .container { max-width: 600px;}
  </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>로그인 한 홈 화면</h2>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-secondary btn-lg" type="button" th:onclick="|href='@{/members/addForm}'|" >회원가입</button>
    </div>

    <div class="col">
      <button class="btn btn-primary btn-lg" type="button" th:onclick="|href='@{/members/login}'|" >로그인</button>
    </div>
  </div>
  <hr class="my-4">
</div>


</body>
</html>